{% extends 'template/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}

{% include 'template/navbarplain.html' %}
  {% if messages %}
    {% for message in messages %}
      <script>
        alert("{{ message }}");
      </script>
    {% endfor %}
  {% endif %}
<div class="form mx-auto">
  <div class="header">
    <h1>Admin Page</h1>
    <h3>Your Store in Your Control</h3>
  </div>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <button type="submit" class="btn">Login</button>
  </form>
</div>
{% endblock %}
