{% extends 'template/base.html' %}
{% load static %}

{% block content %}
{% include 'template/navbarwithsearch.html' %}
<div class="container mb-4">
    <div class="checkout-done-hero">
        <img src="{% static 'checkout-done.png' %}" alt="" class="checkout-done-hero-logo">
        <h2 class="checkout-done-hero-text">Thankyou for ordering in Trolee</h2>
        <a href="/">
            <button type="button" class="checkout-done-buy">
                order again
            </button>
        </a>
    </div>
    <div class="checkout-done-detail">
        <h4 class="checkout-subtitle">Your <span class="p-color">Order</span></h4>
        <div class="checkout-item checkout-done-item">
            <img src="{{ barang.dbx_link }}" class="checkout-item-image">
            <div class="checkout-item-description">
                <div class="checkout-item-title">
                    {{barang.nama}}
                </div>
                <div class="checkout-item-price">Rp. {{barang.harga}}</div>
            </div>
        </div>
        <div class="bill-detail">
            <table class="bill-table bill-table-done">
                <tr>
                    <td>Order Total</td>
                    <td>{{barang.harga}}</td>
                </tr>
                <tr>
                    <td>Coupon Discount</td>
                    <td>{{totaldiskon}}</td>
                </tr>
                <tr>
                    <td><b>Total Payment</b></td>
                    <td><b>{{totaltransaksi}}</b></td>
                </tr>
                <tr>
                    <td>Payment Method</td>
                    <td>{{paymentmethod}}</td>
                </tr>
            </table>
        </div>
        <h4 class="checkout-subtitle"><span class="p-color">Order</span> Information</h4>
        <table class="bill-table order-information-done">
            <tr>
                <td>Name</td>
                <td>{{nama}}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{phonenumber}}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}