{% extends 'template/base.html' %}
{% load static %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
{% endblock %}
{% block content %}
{% include 'template/navbarplain.html' %}
<div class="checkout-section">
    <div class="checkout-section-order">
        <h4 class="checkout-subtitle">Your <span class="p-color">Order</span></h4>
        <div class="checkout-item">
            <img src="{{barang.dbx_link}}" class="checkout-item-image">
            <div class="checkout-item-description">
                <div class="checkout-item-title">
                    {{barang.nama}}
                </div>
                <div class="checkout-item-price">Rp {{barang.harga}}</div>
            </div>
        </div>
        <h4 class="checkout-subtitle"><span class="p-color">Order</span> Information</h4>
        <form action="/checkout/complete" method="post" id="checkoutForm">
            <input type="hidden" name="barang_id" value="{{barang.id}}">
            {% csrf_token %}
            <table>
                <tr>
                    <td><h3 class="checkout-form-label">Name</h3></td>
                    <td><input type="text" name="nama" id="namaInput" class="checkout-form" required><br>
                    <small style='color:red; display: none;' id='namaWarning'>Nama tidak boleh kosong</small></td>
                </tr>
                <tr>
                    <td><h3 class="checkout-form-label">Phone Number</h3></td>
                    <td><input type="text" name="phone-number" id="handphoneInput" class="checkout-form" required><br>
                    <small style='color:red;display: none;' id='handphoneWarning'>Nomor handphone tidak boleh kosong</small></td>
                </tr>
            </table>
            <input type="hidden" name="payment-method" value="" id="paymentMethod">
            <input type="hidden" name="coupon-id" value="" id="couponId">
        </form>
    </div>
    <div class="checkout-section-payment">
        <h4 class="checkout-subtitle">Select Payment <span class="p-color">Method</span></h4>
        <div class="payment-box">
            <div class="payment-selection" onclick="setPayment(1)">
                <img src="{% static 'bank-transfer.png' %}" class="payment-logo">
                <h3 class="payment-desc">Bank Transfer</h3>
            </div>
            <div class="payment-selection" onclick="setPayment(2)">
                <img src="{% static 'e-wallet.png' %}" class="payment-logo">
                <h3 class="payment-desc">E-Wallet</h3>
            </div>
            <div class="payment-selection" onclick="setPayment(3)">
                <img src="{% static 'credit-card.png' %}" class="payment-logo">
                <h3 class="payment-desc">Credit Card</h3>
            </div>
        </div>
        <h4 class="checkout-subtitle">Add <span class="p-color">Coupon</span></h4>
        <div class="checkout-coupon">
            <div class="coupon-remove-button" id="couponRemoveButton"><i class="fas fa-times"></i></div>
            <img src="{% static 'add-coupon.png' %}" class="checkout-coupon-add" data-toggle="modal" data-target="#couponModal">
            <h3 class="payment-desc"><span id="couponButtonText">Add Coupon</h3></span>
        </div>
        <small>* One coupon only can be applied at one time</small>
        <div class="bill-detail">
            <table class="bill-table">
                <tr>
                    <td>Order Total</td>
                    <td>Rp <span id="hargaBarang">{{barang.harga}}</span></td>
                </tr>
                <tr>
                    <td>Coupon Discount</td>
                    <td>Rp <span id="diskonKupon">0</span></td>
                </tr>
                <tr>
                    <td><b>Total Payment</b></td>
                    <td><b>Rp <span id="totalPayment">{{barang.harga}}</span></b></td>
                </tr>
            </table>
        </div>
        <div class="checkout-button" id="checkoutButton">
            <div class="checkout-button-logo">
                <img src="{% static 'checkout-button-logo.png' %}" class="checkout-button-img">
            </div>
            <div class="checkout-button-text">
                Checkout
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h4 class="checkout-subtitle checkout-title-coupon">Select <span class="p-color">Coupon</span></h4>
            {% for kupon_item in kupon %}
        <div class="coupon-list coupon-modal coupon-list-mini" onclick= "useKupon({{kupon_item.id}},{{kupon_item.persen_diskon}})">
                <img src="{{kupon_item.dbx_link}}" class="coupon-list-image"/>
                <div class="coupon-list-description">
                    <div class="coupon-list-title">
                        <span id="couponNameId{{kupon_item.id}}">{{kupon_item.nama_kupon}}</span>
                    </div>
                    <div class="coupon-list-title">
                        <span class="p-color">{{kupon_item.jenis_kupon}}</span>
                    </div>
                    <div class="coupon-list-smalldesc">
                        <div class="coupon-desc">
                            {{kupon_item.sk_singkat_kupon}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

<script>
var paymentSelected = false;

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}

function useKupon(kuponid, persendiskon){
    document.getElementById('couponId').value = kuponid;
    var hargaBarang = document.getElementById('hargaBarang').innerHTML;
    var diskon = hargaBarang*persendiskon/100;
    document.getElementById('diskonKupon').innerHTML = numberWithCommas(diskon);
    document.getElementById('totalPayment').innerHTML = numberWithCommas(hargaBarang - diskon);

    $('#couponModal').modal('toggle');
    document.getElementById('couponButtonText').innerHTML= document.getElementById('couponNameId'+kuponid).innerHTML;
    document.getElementById('couponRemoveButton').style.display = 'inline-block'
}

document.getElementById('couponRemoveButton').addEventListener('click', function(){
    document.getElementById('couponButtonText').innerHTML = 'Add Coupon';
    document.getElementById('couponRemoveButton').style.display = 'none';
    document.getElementById('couponId').value = '';
    var hargaBarang = document.getElementById('hargaBarang').innerHTML;
    document.getElementById('diskonKupon').innerHTML = '0';
    document.getElementById('totalPayment').innerHTML = numberWithCommas(hargaBarang);
})

function setPayment(paymentId){
    paymentSelected = true;
    document.getElementById('checkoutButton').style.opacity = '100%'
    if(paymentId==1){
        document.getElementById('paymentMethod').value = 'Bank Transfer';

    }else if(paymentId==2){
        document.getElementById('paymentMethod').value = 'E-Wallet';
    }else if(paymentId==3){
        document.getElementById('paymentMethod').value='Credit Card';
    }

    var paymentSelect = document.getElementsByClassName('payment-selection');
    for(x = 0 ; x < paymentSelect.length ; x++){
        if(x+1 != paymentId){
            paymentSelect[x].style.backgroundColor = 'white';
        }else{
            paymentSelect[x].style.backgroundColor = '#FFBA00';
        }
    }
}

var checkoutButton = document.getElementById('checkoutButton');

checkoutButton.addEventListener('click', function(){
    var nama = document.getElementById('namaInput').value.trim();
    var handphone = document.getElementById('handphoneInput').value.trim();
    if(paymentSelected && nama!='' && handphone !=''){
        document.getElementById('checkoutForm').submit()
    }
    if(nama==''){
        document.getElementById('namaWarning').style.display = 'inline-block'
    }

    if(handphone == ''){
        document.getElementById('handphoneWarning').style.display = 'inline-block'
    }
})

document.getElementById('namaInput').addEventListener('input', function(){
    document.getElementById('namaWarning').style.display = 'none'
})

document.getElementById('handphoneInput').addEventListener('input', function(){
    document.getElementById('handphoneWarning').style.display = 'none'
})

</script>


{% endblock %}