{% extends 'template/base.html' %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/detailpage.css' %}"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
{% endblock %}
{% block title %}Jual {{Barang.nama}} - Trolee Indonesia{% endblock %}

{% block content %}
  {% include 'template/navbarwithsearch.html' %}
  {% include 'template/navphone.html' %}
  <div class="container">

  <!-- Bagian Detail Item -->
    <div class="row">
      <div class="col-12 col-lg-5 d-flex justify-content-center">
        <div>
          <div class="gambar-barang">
          <img class="img-fluid" src="{{Barang.dbx_link}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 mt-4">
        <h1 class="detailpage-product-name">{{ Barang.nama }}</h1>
        {% for x in Star %}
        <span style="color:#ffba00"><i class="fas fa-star"></i></span>
        {% endfor %}
        {% for x in NoStar %}
        <span style="color:gray"><i class="fas fa-star"></i></span>
        {% endfor %}
        <span style="font-size:16px">{{UlasanScore}} ({{UlasanCount}} ulasan)</span>
        <h2 class="detailpage-product-harga">Rp {{Barang.harga}}</h2>
        <div class="rincian-data">
          <table>
            <tr>
              <td class="data">
                Sold 
              </td>
              <td>
                : {{Sold}} item
              </td>
            </tr>

            <tr>
              <td class="data">
                Stock 
              </td>
              <td>
                : {{Barang.stok}} item
              </td>
            </tr>
          </table>
        </div>
        <p>
          {{Barang.deskripsi}}
        </p>
        <form action="/checkout/" method="post">
          {% csrf_token %}
          <input type="hidden" name="barang_id" value="{{Barang.id}}">
          <button type="submit" class="buyNowBtn btn btn-warning" {% if Barang.stok == 0 %}disabled{% endif %} >BUY NOW</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Bagian Ulasan -->
  <div class="container">
    <h1 class="detailpage-product-name">Ulasan</h1>
    <div class="d-flex flex-wrap">
      {% for Ulasan in Ulasan %}
        <div class="box-ulasan">
          <div class="star-block">
            {% for x in Ulasan.1 %}
            <span style="color:#ffba00"><i class="fas fa-star"></i></span>     
            {% endfor %}
            {% for x in Ulasan.2 %}
            <span style="color:gray"><i class="fas fa-star"></i></span>     
            {% endfor %}
          </div>
          <h4>{{Ulasan.0.nama_pengulas}}</h4>
          <p>{{Ulasan.0.isi_ulasan}}</p>
        </div>
      {% endfor %}
    </div>

  <!-- Bagian tambah ulasan -->
    <h2 class="tambah-ulasan">Tambahkan <span style="color:#ffba00">Ulasan</span> Anda Disini</h2>
    <form class="ulasan-form d-flex flex-column " method="POST" action="" >
      {% csrf_token %}
      <input type="text" class="ulasan-input" name='nama' placeholder='Masukkan nama anda'>
      <textarea type="text" class="ulasan-input" name='isi' placeholder='Tuliskan Pengalaman dan Ulasan Anda menggunakan produk ini'></textarea>
      <input type="hidden" id="rating" name="rating" value="0">
      <div class="star-block">
        <span id="starDesc" class="star-description">Seberapa baik penilaianmu terhadap produk ini</span>
        <div class="star-row">
          <span id="star1" class="star-select" onclick="selectStar(1)" style="color:gray" ><i class="fas fa-star"></i></span>
          <span id="star2" class="star-select" onclick="selectStar(2)" style="color:gray"><i class="fas fa-star"></i></span>
          <span id="star3" class="star-select" onclick="selectStar(3)" style="color:gray"><i class="fas fa-star"></i></span>
          <span id="star4" class="star-select" onclick="selectStar(4)" style="color:gray"><i class="fas fa-star"></i></span>
          <span id="star5" class="star-select" onclick="selectStar(5)" style="color:gray"><i class="fas fa-star"></i></span>
        </div>
      </div>
      <button type="submit" class=" button-ulasan buyNowBtn btn btn-warning">Add Review</button>
    </form>

  <script>
    var star1 = document.getElementById('star1');
    var star2 = document.getElementById('star2');
    var star3 = document.getElementById('star3');
    var star4 = document.getElementById('star4');
    var star5 = document.getElementById('star5');

    var starList = [star1,star2,star3,star4,star5]

    for(x = 0 ; x < starList.length ; x++){
      starList[x].addEventListener('mouseover', function(){
        var starSelect = starList.slice(0,this.id.slice(4,5));
        for(i = 0 ; i<starList.length;i++){
          if(i<starSelect.length){
            starSelect[i].style.color = '#ffba00';
          }else{
            starList[i].style.color = 'gray';
          }
        }
      })
    }

    for(x = 0 ; x < starList.length; x++){
      starList[x].addEventListener('mouseleave', function(){
        var starSelect = starList.slice(0,parseInt(document.getElementById('rating').value));
        for(i = 0 ; i<starList.length;i++){
          if(i<starSelect.length){
            starSelect[i].style.color = '#ffba00';
          }else{
            starList[i].style.color = 'gray';
          }
        }
      })
    }

    starDefinition = {
      '1':'Sangat Buruk',
      '2':'Buruk',
      '3':'Biasa Saja',
      '4':'Baik',
      '5':'Sangat Baik',
    }
    function selectStar(starval){
      document.getElementById('starDesc').innerHTML = starDefinition[starval];
      document.getElementById('rating').value = starval;
      var starSelect = starList.slice(0,parseInt(document.getElementById('rating').value));
      for(i = 0 ; i<starList.length;i++){
        if(i<starSelect.length){
          starSelect[i].style.color = '#ffba00';
        }else{
          starList[i].style.color = 'gray';
        }
      }
    }
  </script>
{% endblock %}