{% extends 'template/base.html' %}
{% load static %}
{% block title %} Sales History {% endblock %}
{% block content %}
{% include 'template/navbarwithsearch.html' %}
{% include 'template/navphone.html' %}
<div class="transaction-section">
    <div class="transaction-view-section">
        <h4 class="transaction-subtitle">Sales History</h4>
        {% for transaction in transaksi %}
        <div class="transaction-list">
            <img src="{{transaction.barang.dbx_link}}" class="transaction-list-image"/>
            <div class="transaction-list-description">
                <div class="transaction-list-content">
                    <div class="transaction-list-title">
                        {{transaction.barang.nama}}
                    </div>
                    <br>
                    <div class="transaction-desc">
                        <table>
                            <tr>
                                <td>Dibeli oleh :</td>
                                <td style="padding-left: 10px;">{{transaction.nama_pembeli}}</td>
                            </tr>
                            <tr>
                                <td>Pada tanggal :</td>
                                <td style="padding-left: 10px;">{{transaction.tanggal_beli|date:'d-M-Y'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="transaction-list-price">
                    Rp {{transaction.total_transaksi}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}