{% extends 'template/base.html' %}
{% load static %}
{% block title %} Trolee - Tempat Belanja ATK Terlengkap dan Termurah di Indonesia {% endblock %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
{% endblock %}

{% block content %}
{% include 'template/navbarwithsearch.html' %}
<div class="landingpage-category-section">
    <div class="landingpage-category-section-l">
        <h1 class="landingpage-subtitle">Category</h1>
        <div class="landingpage-category-block">
            <div class="landingpage-category-row">
                <a href="/?category=stationary-set">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-stationary.png' %}" class="landingpage-category-icon" alt="">
                        Stationary Set
                    </div>
                </a>
                <a href="/?category=books">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-book.png' %}" class="landingpage-category-icon" alt="">
                        Books
                    </div>
                </a>
                <a href="/?category=eraser">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-eraser.png' %}" class="landingpage-category-icon" alt="">
                        Eraser
                    </div>
                </a>
            </div>
            <div class="landingpage-category-row">
                <a href="/?category=pencil-case">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-pencil-case.png' %}" class="landingpage-category-icon" alt="">
                        Pencil Case
                    </div>
                </a>
                <a href="/?category=tools">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-puncher.png' %}" class="landingpage-category-icon" alt="">
                        Tools
                    </div>
                </a>
                <a href="/?category=tape">
                    <div class="landingpage-category-item">
                        <img src="{% static 'category-tape.png' %}" class="landingpage-category-icon" alt="">
                        Tape
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="landingpage-category-section-r">
        <div class="landingpage-coupon">
            <img src="{% static 'discount-logo.png' %}" alt="" class="coupon-logo">
            <div class="landingpage-coupon-desc">
                <div class="landingpage-coupon-title">
                    Akhir Bulan Ditraktir Trolee
                </div>
                <div class="landingpage-coupon-subtitle">
                    Potongan Hingga 75%
                </div>
            </div>
        </div>
        <a href="/coupon">
            <div class="landingpage-button">
                Coupon
            </div>
        </a>
    </div>
</div>

<div class="landingpage-product-section">
    <h1 class="landingpage-subtitle">Featured <span class="p-color">Items</span></h1>
    <div class="landingpage-product-block">
        {% for item in barang %}
        <a href="/detail/{{item.id}}" class="landingpage-product-a">
            <div class="landingpage-product-item">
                <div class="landingpage-product-image">
                    <img src="{{ item.dbx_link }}" class="product-image" alt="">
                </div>
                <h2 class="landingpage-product-title">{{item.nama}}</h2>
                <h4 class="landingpage-product-price">Rp. {{item.harga}}</h4>
            </div>    
        </a>
        {% endfor %}
    </div>
</div>
{% include 'template/footer.html' %}
{% endblock %}