{% include 'template/navphone.html' %}
<div class="footer-bar">
    <div class="footer-text-copyright">
        Copyright 2020 Trolee Indonesia
    </div>
    <div class="footer-text-office">
        Our Office :<br>
        Jalan Margonda Raya No. 88<br>
        Depok, Indonesia 
    </div>
</div>