{% load static %}
<nav class="navbar">
    <a href="/"><img src="{% static 'logo.png' %}" class="logo"></a>
    <form class="form-search" action="/" method="get">
        <input type="text" class="search-input" placeholder="Search" name="q">
        <input type="submit" style="display:none">
        <img src="{% static 'search.png' %}" class="search-logo" onClick="javascript:this.parentNode.submit()">
    </form>
    <a href="/transaction" class="transaction-a">
        <div class="transaction-navbar">
            <img src="{% static 'history-logo.png' %}" class="history-logo"> 
            <h4 class="history-text">SALES<br>HISTORY</h4>
        </div>
    </a>
</nav>