{% load static %}
<nav class="d-flex flex-wrap navphone">
  <div class="container container-navphone">
    <div class="row">
      <div class="col">
        <a href="/coupon"><img src="{% static 'coupon.png' %}" alt=""></a>
        <a href="/"><img src="{% static 'home.png' %}" alt=""></a>
        <a href="/transaction"><img src="{% static 'history.png' %}" alt=""></a>
      </div>
    </div>
  </div>
</nav>
