.product-container {
    margin: 30px;
    margin-top: 50px;
    width: 90%;
}

.card-wrapper {
    max-width: 100%;
    flex-wrap: wrap;
}

.product-card {
    max-width: 48%;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    flex-wrap: wrap;
}

.product-photo {
    width: 100px;
    /* height: 100%; */
    margin: 20px;
    border-radius: 10px;
}

.detail-container {
    margin: auto;
}
input, textarea, select {
    border-radius: 7px;
    padding:2px;
    border: 1px solid gray;
    padding-left:5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.name-wrapper input {
    font-size: 22px!important;
    font-weight: bold;
}
.stok-wrapper {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stok-wrapper input {
    width: 100px;
}
.text-area-wrapper {
    max-height: 50px;
    overflow-y: scroll;
}

.button-wrapper {
    margin-top: 15px;
    float: right;
}

.btn {
    border-radius: 10px!important;
}

.add-btn {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.centering {
    text-align: center;
}

.add-product-wrapper, .category-form {
    width: fit-content;
    margin-left: 30px;
}

.add-product-wrapper input,
.add-product-wrapper select,
.add-product-wrapper textarea,
.category-form input {
    width: 100%;
    margin-left: 10px;
    margin-top:3px;
    margin-bottom:3px;
    background-color: #f2f2f2;
    padding:10px;
    padding-left:15px;
    border:0px;
}

.foto-input{
    visibility: hidden;
}
.wrapper2 {
    margin: auto;
    width: 90%;
}
.update-button{
    background-color:#FFBA00;
    font-weight: 600;
    font-family: 'Poppins';
    border-width: 0;
}
.delete-button{
    margin:10px;
    font-weight: 600;;
    font-family: 'Poppins';
}