.form {
    width: 500px;
    position: relative;
    /* top: 40%; */
    transform: translateY(30%);
    /* border: 2px solid black; */
    border-radius: 5px;
}

.header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.header h1 {
    font-weight: bold;
}

.form button {
    position: absolute;
    right: 0;
    background-color: #FFBA00;
}
